.root{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;   
    height: 70px;
    background: #17141D;
    color: #ffffff;
    margin-bottom: 10px;
    border-top: 2px solid #727577;
}

.MuiBottomNavigation-root{
  background-color: #17141D;
}


  
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  header{
    width: 100%;
    height: 60px;
    position: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex !important;
    align-items: center;
    background: #121212;
    color: #ffffff;
    padding: 0 50px;
    z-index: 11;
  }
   
  nav{
      background-color: #121212;
  }

  .copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
    background: #121212;
    color: #ffffff;
    border-top:1px solid #424242;
  }